/* Contêiner geral do artigo */
.PostListContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
}

.loadMoreButton{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}