/* Contêiner geral do artigo */
.PostListContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
}

.loadMoreButton {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-form);
    color: var(--bg-secundario);
    border: 1px solid var(--bg-secundario);
}

.loadMoreButton:hover {
    background-color: #fff;
    color: var(--bg-secundario);
}

.noMorePosts {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--bg-secundario);
}

.error {
    color: #ff4d4f;
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .PostListContainer {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .PostListContainer {
        justify-content: center;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .PostListContainer {
        flex-direction: column;
        align-items: center;
    }

    .loadMoreButton {
        width: 90%;
    }
}