.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.form p{
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.form input:focus {
    outline: 2px solid #007bff;
    border-color: #007bff;
}

.form .formActions{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    width: 40%;
    box-shadow: 0px 2px 2px lightgray;
}

.form .submitBtn{
    background-color: var(--bg-terciario);
}

.form .submitBtn:hover {
    background-color: #0056b3;
}

.form .dangerButton {
    background-color: #dc3545;
    color: #fff;
}

.form .dangerButton:hover {
    background-color: #c82333;
}