@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-principal: #fff;
    --bg-secundario: #606d80;
    --bg-terciario: #567ebb;
    --bg-form: #f9f9f9;
    --font-1st: #1f1f20;
    --font-2nd: #2b4c7e;
    --font-3rd: #dcad49;
}

/* Configuração geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* *************** */
/* Lista de Fontes */
/* *************** */

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
}

.montserrat {
    font-family: "Montserrat", serif;
}

.inter {
    font-family: "Inter", serif;
}