.dashboardContainer {
  max-width: 1200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin: 5rem auto;
}

.title {
  font-size: 2rem;
  color: var(--font-2nd);
  margin-bottom: 20px;
  text-align: center;
}

.tabs {
  display: flex;
  width: 100%;
}

.tabButton {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--font-2nd);
  border-radius: 4px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tabButton:nth-child(1) {
  margin-right: 0;
  border-radius: 1rem 0 0 0;
}
.tabButton:nth-child(2) {
  border-radius: 0 1rem 0 0;
}
.tabButton:hover {
  background-color: var(--bg-terciario)
}
.active {
  background-color: var(--font-2nd);
  color: white;
}

.content {
  background-color: var(--bg-form);
  padding: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.table td:nth-child(3){
  text-align: center;
}

.table th {
  background-color: #f4f4f4;
  color: var(--font-2nd);
  text-align: center;
}

.actions{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.editButton,
.deleteButton {
  font-size: 0.9rem;
  width: 7rem;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton {
  background-color: var(--font-2nd);
  color: white;
}

.editButton:hover {
  background-color: #1976D2;
}

.deleteButton {
  background-color: #F44336;
  color: white;
}

.deleteButton:hover {
  background-color: #D32F2F;
}

.postLink {
  color: #2196F3;
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.paginationInfo {
  margin: 0 10px;
}