/* Estilo para a seção principal */
.section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilo para a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

.table th {
    background-color: var(--bg-terciario);
    color: #fff;
    padding: 0.4rem;
    text-align: left;
    border: none;
    text-align: center;
}

.table th:nth-child(1) {
    border-radius: 0.5rem 0 0 0;
}
.table th:nth-child(5) {
    border-radius: 0 0.5rem 0 0;
}

.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Estilo para a linha alternada */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.clickableTitle {
    cursor: pointer;
    text-decoration: none;
}

.clickableTitle:hover {
    color: var(--font-2nd);
}

/* Mensagem para quando não há posts */
.noPosts {
    text-align: center;
    font-size: 16px;
    color: var(--font-2nd);
    padding: 20px;
}

/* Botões */
.button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.buttonEdit {
    background-color: var(--bg-terciario);
    color: white;
}
.buttonEdit:hover {
    background-color: #4d8cf6;
}

.buttonDelete {
    background-color: #a52734;
    color: white;
}
.buttonDelete:hover {
    background-color: #f44336;
}