.termsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.termsSection {
    padding: 40px 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0;
    text-align: justify;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    max-width: 800px;
}

.termsH2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-2nd);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.termsH3 {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--font-2nd);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.termsP {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
    margin-left: 5rem;
}

ul li {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .termsSection {
        margin: 2rem;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 480px) {
    .termsSection {
        margin: 1.5rem;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}