/* Estilo geral do header */
header {
    display: flex;
    flex-direction: column;
}

/* Primeira linha do header */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3.5rem;
    padding: 0 2rem;
}

/* Logo */
.logoLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-2nd);
}

/* Container de busca e login */
.searchLoginContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

/* Botões de login/logout */
.loginButton,
.logoutButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 7rem;
    transition: background-color 0.3s ease;
}

.loginButton a,
.logoutButton a {
    text-decoration: none;
}

.loginButton {
    background-color: var(--bg-principal);
    color: var(--bg-terciario);
    border: 1px solid var(--bg-terciario);
}

.logoutButton {
    background-color: #dc3545;
    color: white;
}

.loginButton:hover {
    background-color: var(--bg-terciario);
    color: white;
}

.logoutButton:hover {
    background-color: #a71d2a;
}

.loginButton:hover a {
    color: white;
}

.gradientBorder {
    position: relative;
    /* Necessário para posicionar o pseudo-elemento */
    background-color: #fafafa;
}

.gradientBorder::after {
    content: "";
    /* Cria o pseudo-elemento */
    position: absolute;
    /* Para posicionar a borda abaixo */
    bottom: 0;
    /* Fixa na parte inferior do header */
    left: 0;
    width: 100%;
    /* Largura total da borda */
    height: 0.5rem;
    /* Altura da borda inferior */
    background: linear-gradient(to bottom, #eee, var(--bg-principal));
    /* Gradiente */
    z-index: 3;
}

@media (max-width: 1024px) {
    .topBar {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .topBar {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }

    .searchLoginContainer {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 480px) {
    header{
        padding: 0;
    }

    .topBar {
        padding: 0.5rem;
        align-items: center;
    }

    .logoLink {
        font-size: 2rem;
    }

    .searchLoginContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .loginButton,
    .logoutButton {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}