.authorBadgeContainer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: fit-content;
    padding: 0.4rem;
    border: 1px solid var(--bg-form);
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}

.authorBadgeContainerImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
    background-color: cadetblue;
}

.authorBadgeContainerH3,
.authorBadgeContainerP {
    font-size: 0.8rem;
    color: var(--font-1st);
}
