.toolbar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
}

button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.activeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.editor {
    border: 1px solid #ccc;
    padding: 0.7rem;
    border-radius: 4px;
    min-height: 150px;
    font-size: 16px;
    line-height: 1.5;
    cursor: text;
}

.editor:empty::before {
    content: attr(data-placeholder);
    color: #999;
    font-style: italic;
}

.editorClickAnywhere {
    width: 100%;
    height: 100%;
    min-height: 200px;
    cursor: text;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
}

.modalContent input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.modalActions {
    display: flex;
    justify-content: space-between;
}

.modalActions button {
    padding: 0.5rem 1rem;
}

@media (max-width: 1024px) {
    .PostFormContainer {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .PostFormContainer {
        width: 90%;
    }
    .toolbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .toolbar button{
        width: 20%;
    }
}

@media (max-width: 480px) {
    .toolbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .toolbar button{
        width: 30%;
    }
}