.postContainer {
    max-width: 800px;
    margin: 2rem auto;
    /* margin-bottom: 2rem; */
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.headerContainer {
    margin-bottom: 20px;
}

.postTitle {
    font-size: 2rem;
    margin-bottom: 10px;
}

.postDate {
    color: #666;
    margin-bottom: 20px;
}

.imageContainer {
    margin-bottom: 20px;
    text-align: center;
}

.postImage {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    background-color: #b6b6b6;
}

.contentContainer {
    line-height: 1.6;
}

.postDescription {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.fullContent {
    margin-bottom: 20px;
}

.postFooter {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .tags {
    margin-top: 10px;
  }
  
  .tag {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border-radius: 16px;
    font-size: 12px;
  }
  